.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin: 0 0.25rem;
  cursor: pointer;
  background-color: #f8f9fa;
  color: #007bff;
}

.pagination-item.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination-item.disabled {
  background-color: #e9ecef;
  color: #6c757d;
  cursor: not-allowed;
}

.pagination-item:hover {
  background-color: #e2e6ea;
}

.pagination-prev, .pagination-next {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  background-color: #f8f9fa;
  color: #007bff;
  cursor: pointer;
}

.pagination-prev.disabled, .pagination-next.disabled {
  background-color: #e9ecef;
  color: #6c757d;
  cursor: not-allowed;
}

.pagination-prev:hover, .pagination-next:hover {
  background-color: #e2e6ea;
}


.btn-small {
  font-size: 0px;
  padding: 0px 0px;
  position: absolute; 
  right: 60px; 
  top: 30px;
  
}

.btn-small2 {
  font-size: 0px;
  padding: 0px 0px;
  position: absolute; 
  right: 20px; 
  top: 30px;
  
}


.table-responsive {
  overflow-x: auto;
  white-space: nowrap;
}


.table td {
  max-width: 150px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}

.table td:hover::after {
  content: attr(data-fulltext);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.50);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  white-space: normal;
  max-width: 300px;
  z-index: 1000;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .table td:hover::after {
    max-width: 100%;
    left: 10%;
    transform: translateX(0);
  }
}

.table th, .table td {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 150px; 
  vertical-align: middle; 
}

.table-responsive {
  overflow-x: auto; 
}

.table {
  width: 100%; 
  table-layout: fixed;
  word-wrap: break-word; 
}

.table th, .table td {
  border: 1px solid #ddd; 
  padding: 8px; 
}

.table th {
  background-color: #f8f9fa; 
  font-weight: bold; 
  text-align: center; 
}



.table th {
  white-space: normal; 
  overflow: visible; 
  text-overflow: clip; 
  max-width: 200px; 
}

.table td:hover { 
  white-space: normal; 
  z-index: 1; 
  position: relative; 
}


