.header-navbar {
    height: 80px; /* Cambia este valor para hacer el header más alto */
    line-height: 100px; /* Para centrar verticalmente los elementos */
    transition: height 0.3s ease; /* Transición suave para cambios de tamaño */
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    height: 100%; /* Para asegurarte que los elementos ocupen toda la altura del header */
  }
  
  .user-nav {
    height: 100%;
    display: flex;
    align-items: center;
    line-height: normal;
  }
  